@{
    ViewBag.Title = "Alunos";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        Adilson Krasovski<br />
       <i class="icon-envelope"></i><strong>E-mail</strong>   <a href="mailto:adilson.krasovski@unerj.br">Adilson Krasovski</a><br />
    </address>

   <address>
        Silvio Buss<br />
       <i class="icon-envelope"></i><strong>E-mail</strong>   <a href="mailto:silvio.buss@unerj.br">Silvio Buss</a><br />
    </address>
     <address>
        Thiago <br />
       <i class="icon-envelope"></i><strong>E-mail</strong>   <a href="mailto:silvio.buss@unerj.br">Thiago</a><br />
    </address>

</div>