@{
    ViewBag.Title = "Rent-a-sani";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Rent-a-sani é um projeto de final de Semestre da disciplina Tecnologia de Programação II</p>
    <p><a href="Home/Contact" class="btn btn-primary btn-large">Saiba mais dos alunos</a></p>
</div>

<div class="row">

    <dl>
        <dt>Rent-a-sani</dt>
        <dd>Empresa Brasileira especializada em aluguel de Banneiros Químicos.
        </dd>
    </dl>

</div>
